{% extends 'base.html' %}

{% block tittle %} {{user.first_name}} Change Password {% endblock tittle %}    
{% block keyword %} {{setting.keyword}} {% endblock keyword %}  
{% block description %} {{ setting.description }} {% endblock description %}


{% block topbar %} {% include 'topbar.html' %} {% endblock topbar %}

{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %} 

{% block banner %} {% include 'banner.html' %} {% endblock banner %}
  

{% block content %} 

<section class="main-content">				
    <div class="row">
        <div class="span3">					
            {% include "userpanel.html" %}
        </div>
        <div class="span9">					
            <h4 class="title"><span class="text"><strong>Change </strong> Password</span></h4>
            
            {% if messages %}
                {% for message in messages  %}
                    <div  class="alert alert-{{message.tags}}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message|safe }}
                    </div>									  
                {% endfor %}								  
            {% endif %}	
            <form method="POST">
                {% csrf_token %}
                {% for field in form  %}
                    <p>
                        {{field.label_tag}} <br>
                        {{field}}
                        
                        {% if field.help_text %}
                            <small>{{field.help_tag}}</small>                        
                        {% endif %}
                        {% for error in field.errors %}
                            <p>{{error}}</p>                      
                        {% endfor %}                        
                    </p>                  
                {% endfor %}
                 <hr>
                <div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="Save Changes"></div>
            </form>	
        </div>
    </div>
</section>			
{% endblock content %}


{% block footer %} {% include 'footer.html' %}  {% endblock footer %}