<div class="span3">					
    <h4 class="title"><span class="text"><strong>User</strong> Panel</span></h4>
        
</div>
<div class="span9">					
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'user' %}">User Profile</a></li>
        <li><a href="{% url 'user' %}">My Account</a></li>
        <li><a href="{% url 'userupdate' %}">Update Profile</a></li>
        <li><a href="{% url 'userpassword' %}">Change Password</a></li>
        <li><a href="{% url 'logoutfunc' %}">Logout</a></li>
    </ul>
</div>