{% extends 'base.html' %}

{% block tittle %} Enter Your Email {{setting.title}} {% endblock tittle %}    
{% block keyword %} {{setting.keyword}} {% endblock keyword %}  
{% block description %} {{ setting.description }} {% endblock description %}


{% block topbar %} {% include 'topbar.html' %} {% endblock topbar %}

{% block banner %} {% include 'banner.html' %} {% endblock banner %} 

{% block info %} {% include 'info.html' %} {% endblock info %}   

{% block content %} 

<section class="main-content">				
    <div class="row">
        <div class="span8">					
            <h4 class="title"><span class="text"><strong>Password Reset</strong>Confirmation Form</span></h4>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
       
            <div class="control-group">
                <h1>
                    Enter your email
                </h1>
                
                <div class="control-group">
                    <h4>Enter new password</h4>
                    {% if validlink %}
                            <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <p>
                            <input tabindex="3" class="btn btn-inverse large" type="submit" value="Change Password">
                        </p>
                        </form>
                    {% else %}
                        <p class="red-text" style="font-weight: bold"> Invalid token?</p>
                        <p>
                            <p class="reset">Request a new token? Click here<a tabindex="4" href="{% url 'password_reset' %}" title="Reset your password">Password</a></p>
                        </p>
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="span4"></div>
    </div>
</section>			
{% endblock content %}


{% block footer %} {% include 'footer.html' %}  {% endblock footer %}