{% extends 'base.html' %}

{% block tittle %}  Reset Link sent {{setting.title}} {% endblock tittle %}    
{% block keyword %} {{setting.keyword}} {% endblock keyword %}  
{% block description %} {{ setting.description }} {% endblock description %}


{% block topbar %} {% include 'topbar.html' %} {% endblock topbar %}

{% block banner %} {% include 'banner.html' %} {% endblock banner %} 

{% block info %} {% include 'info.html' %} {% endblock info %}   

{% block content %} 

<section class="main-content">				
    <div class="row">
        <div class="span8">					
            <h1>
                Reset Link Sent
            </h1>
            
            <div class="control-group">
                <p>
                    Link to reset password has been sent
                </p>
            </div>		
        </div>
        <div class="span4"></div>
    </div>
</section>			
{% endblock content %}


{% block footer %} {% include 'footer.html' %}  {% endblock footer %}