{% extends 'base.html' %}

{% block tittle %} Password Rest Complete {{setting.title}} {% endblock tittle %}    
{% block keyword %} {{setting.keyword}} {% endblock keyword %}  
{% block description %} {{ setting.description }} {% endblock description %}


{% block topbar %} {% include 'topbar.html' %} {% endblock topbar %}

{% block banner %} {% include 'banner.html' %} {% endblock banner %} 

{% block info %} {% include 'info.html' %} {% endblock info %}   

{% block content %} 

<section class="main-content">				
    <div class="row">
        <div class="span8">					
            <h4 class="title"><span class="text"><strong>Password Reset</strong>Complete</span></h4>
            <div class="control-group">
                <p class="green-text darken-3"> Password Reset Successful</p>
                <p class="green-text darken-3"> You can now login <a href="{% url 'loginform' %}"></a> with a new password:</p>
            </div> 			
        </div>
        <div class="span4"></div>
    </div>
</section>			
{% endblock content %}


{% block footer %} {% include 'footer.html' %}  {% endblock footer %}